* { margin: 0px; padding: 0px; }

.circle {
    width: 100px;
    height: 100px;
    background: red;
    position: absolute;
    border-radius: 50%;
    top: 50%;
    left: 50vw;
    display: none;
}

#change-box {
    width: 300px;
    height: 300px;
    border: 1px solid black;
}